.root {
    font-size:16px; max-width:800px; margin:0 auto;
}

.close-btn {
    color:yellow;
    cursor:pointer;
    font-size:1.1em;
    font-family:Arial,sans-serif;
    &:active {
        text-decoration:underline;
    }
    padding:4px 4px 0 4px;
    background-color:rgba(0,0,0,0.4);

}

.instruct-container {
    background-color:rgba(0,0,0,0.7);
    box-sizing:border-box;
    padding:5px 15px;

    overflow:auto;
    height:calc(100vh - 45px)
}