.trainprogress-bar {
	box-sizing:border-box;
	padding-left:20px;	
	padding-right:20px;	
	position:relative;
	background-color:gray;
	pointer-events:none;

	/* specific */
	position:absolute;
	top:8px;
	left:0;
	width:100%;
	height:5px;	
	z-index:1;
}
.scrubber {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	
	transform:translate3d(0,0,0);
} 
.scrub {
	height:100%;
	background-color:#00ff00;
	position:relative;
	.marker {
		color:#00ff00;
		transform:translateX(-50%);
		left:50%;
		position:absolute;
	}
}

.enemy-scrub {
	height:1px;
	background-color:#ff0000;
	position:relative;
	
	.marker {
		color:#00ff00;
		transform:translateX(-50%);
		left:50%;
		position:absolute;
	}
	
}


